.wapper
  = render "tweets/header"
  .new-contents
    .new-contents__around
      .form
        %h3 投稿が完了しました
        %a.btn{:href => "/", class: "ggg"} 投稿一覧へ戻る
    .ccc
      ME lock
  = render "tweets/footer"