.wapper
  = render "tweets/header"
  .main-contents
    .side-contents
    .me-contents
      .me-contents__image
      .me-contents__name
        = current_user.nickname
      .me-contents__text
        = current_user.text
  = render "tweets/footer"